# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# -------------------------------------
# 📦 Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# -------------------------------------
# 🔬 Testing
/coverage

# -------------------------------------
# ⚙️ Next.js
/.next/
/out/
dist/

# -------------------------------------
# 🚀 Production Builds
/build

# -------------------------------------
# 🔐 Environment Variables
.env
.env.*       # Includes .env.local, .env.production, etc.

# -------------------------------------
# 🧪 Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------------------
# 💻 System Files
.DS_Store
*.pem

# -------------------------------------
# ⛴️ Deployment Artifacts
.vercel

# -------------------------------------
# 🔷 TypeScript
*.tsbuildinfo
next-env.d.ts
